@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));


:root  {
  --background: 70 100% 95%;
  --foreground: 70 5% 0%;
  --card: 70 50% 90%;
  --card-foreground: 70 5% 10%;
  --popover: 70 100% 95%;
  --popover-foreground: 70 100% 0%;
  --primary: 70 18% 66%;
  --primary-foreground: 0 0% 0%;
  --secondary: 70 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 32 30% 85%;
  --muted-foreground: 70 5% 35%;
  --accent: 32 30% 80%;
  --accent-foreground: 70 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 70 5% 90%;
  --border: 70 30% 50%;
  --input: 70 30% 18%;
  --ring: 70 18% 66%;
  --radius: 1rem;
}
.dark  {
  --background: 70 50% 5%;
  --foreground: 70 5% 90%;
  --card: 70 50% 0%;
  --card-foreground: 70 5% 90%;
  --popover: 70 50% 5%;
  --popover-foreground: 70 5% 90%;
  --primary: 70 18% 66%;
  --primary-foreground: 0 0% 0%;
  --secondary: 70 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 32 30% 15%;
  --muted-foreground: 70 5% 60%;
  --accent: 32 30% 15%;
  --accent-foreground: 70 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 70 5% 90%;
  --border: 70 30% 18%;
  --input: 70 30% 18%;
  --ring: 70 18% 66%;
  --radius: 1rem;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}